*{
    margin: 0px;
    padding: 0px;
}
#contactmain{
    background-color: #274001;
    align-items: center;
}
#Contact{
    margin-top: 2px; 
    margin-left: 40%;
    color: #D1570C;;
    font-size: 40px;
}

 .question{
    font-size: larger;
    margin-left: 30%; 
    margin-top: 2px;
    color: #54643c;
} 
.phone{
    margin-top: 1px;
    text-align: center;
    font-size: larger; 
    background-color: #274001; 
    padding: 2%;
    color: white; 
    height: 5vh;
}

@media only screen and (max-width: 768px) {
    #Contact {
        margin-top: 1.5%;
        margin-left: 10%;
        font-size: 30px;
    }
    .question {
        margin-left: 10%;
        margin-top: 1%;
        font-size: medium;
    }
    .phone {
        margin-top: 1%;
        padding: 3%;
        font-size: medium;
    }
} 