.page2{
   width: 90%;
   display: flex;
   justify-content: space-evenly;
   padding-top: 50px;
   
}
.content2{
    /* width: 50%; */
    font-size: 1.3rem;
    padding-left: 50px;
}
.image{
    width: 50%;
   margin-left: 10%;
}
.about{
    margin-left: 45%;
    text-align: center;
    color:#D1570C ;
    /* align-items: center; */
}
/* .contentabout{
    margin-bottom: 5%;
} */
/* .contentabout{
    text-align: center;
    color:#D1570C;;
    font-size: 30px;
} */
@media (max-width: 768px) { 

.page2 { flex-direction: column; }

.content2, .image { width: 100%; }

.image { margin-left: 0; margin-top: 5%; } 

.contentabout { font-size: 24px; }
 }
@media (max-width: 480px) { 
    .contentabout { font-size: 20px; }
 }
